<div class="home-text">
  <h3>Set your goals weekly</h3>
  <h3>Keep track</h3>
  <h3>Reward your accomplishments</h3>

  <h4>Please Login</h4>
  <form class="login" action="users/login" method="POST">
    <input type="text" name="username" placeholder="username"><br>
    <input type="password" name="password" placeholder="password"><br>
    <button type="login" name="login">Login</button>
  </form>

  <h4>Not a Member? Signup!</h4>
  <form class="" action="users/register" method="POST">
    <input type="text" name="username" placeholder="username"><br>
    <input type="password" name="password" placeholder="password"><br>
    <button type="submit" name="register">Register</button>
  </form>

</div>
