<div class="home-text">
  <p>Set your goals weekly</p>
  <p>Keep track</p>
  <p>Reward your accomplishments</p>
</div>

<h4>Please Login</h4>
<form class="login" action="users/login" method="POST">
  <input type="text" name="username" placeholder="username"><br>
  <input type="password" name="password" placeholder="password"><br>
  <button type="login" name="login">Login</button>
</form>
<h4>Not a Member? Signup!</h4>
<form class="" action="users/register" method="POST">
  <input type="text" name="username" placeholder="username"><br>
  <input type="password" name="password" ><br>
  <button type="submit" name="register">Register</button>

</form>
