<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Goal Digger</title>
    <title>{{title}}</title>
  </head>
  <body>
    <h1>Goal Digger</h1>
    <h2>Your weekly goal tracker</h2>
    <nav>
       <a href='/'> Home </a><spam>|</spam>
       <a href='/users'> See Other Users </a>
     </nav>
    {{{body}}}
  </body>
</html>
