<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Goal Digger</title>
    <title>{{title}}</title>
    <!-- <link rel="stylesheet" type="text/css" href="/css/reset.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Monofett|Lemonada|Ubuntu:500" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="header">
      <!-- <img src="http://vignette3.wikia.nocookie.net/inanimateinsanity/images/8/88/Jocky_Trophy.png" alt="Trophy Logo" style="width:103px;height:128px;"> -->
      <img src="http://vignette2.wikia.nocookie.net/inanimateinsanity/images/e/e2/TrophyPro.png" alt="Trophy Logo" style="width:103px;height:128px;">

      <div class="header-text">
        <h1>Goal Digger</h1>
        <h2>YOUR WEEKLY GOAL TRACKER</h2>
        <nav>
           <a href='/'> Home </a><spam>|</spam>
           <!-- <a href='/users'> See Other Users </a> -->
           <!-- <a href="/users/{{_id}}">See Other Users</a> -->
           <a href="/users/{{_id}}">See Other Users</a>
         </nav>
      </div>
    </div>
    {{{body}}}
  </body>
  <footer>
	 Created by &#10084; ZG_Stardust
  </footer>
</html>
