body{
  /*background: #c0f5ff;*/
  background: #eeede1

}
h1{
  font-family: 'Monofett', cursive;
  font-size: 48px;
}
h2,h3,a{
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}
p{
  font-family: 'Lemonada', cursive;
  font-size: 14px;
}
.header{
  display: inline-flex;
  width: 100%;
  /*background-color: #6496c8;*/
  background-color: #96d35f;
  border: none;
  border-radius: 15px;
  /*box-shadow: 0 10px #27496d;*/
  box-shadow: 0 10px #40661e;
}
img{
padding: 1em;
}
.home-text{
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  text-align: center;
  padding: 1em;
  color:  #40661e;
}
h4{
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  text-align: center;
  color: black;
}
.login{
  /*color: #fff;
background-color: #6496c8;
border: none;
border-radius: 15px;
box-shadow: 0 10px #27496d;*/
}
.logout{
  position: absolute;
  /*display: flex;
  align-self: flex-end;*/
  right: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
}
.user-controllers{
  display: inline-flex;
}
.single-board{
  position: relative;
  /*display:inline-block;*/
  justify-content:space-around;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /*background-color: #6496c8;*/
  background-color: #96d35f;
  border: none;
  border-radius: 15px;
  padding: 1em;
  width: 47%;
  box-shadow: 10px 10px 5px grey;
}
.user-board{
  padding: 1em;
  /*padding-right: 2em;*/
  position: relative;
	display: inline-flex;
  justify-content:space-between;
  align-content:center;
	width: 98%;
}
@viewport{
    zoom: 1.0;
    width: device-width;
}
footer{
	/*background-color: #27496d;*/
  background-color: #40661e;
  color: white;
	text-align: center;
  padding: 1em;
  font-family: 'Lemonada', cursive;
  font-size: 16px;
  /*This makes footer to always stay at the end*/
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}
