<h1>Goal's Page</h1>

<form class="" action="/users/{{user._id}}/new" method="POST">
  <label>Goal:</label>
  <input type="text" name="name" value="{{user.goal.body}}">
  <input type="submit">
</form>
<br>
<br>


<a href="/users/{{user._id}}">Back to My Page</a>
