<h1>Hello {{user.username}}!</h1>

<!-- <form method="POST" action="/users/user/logout?_method=DELETE">
  <button type="submit" name="Logout">Logout</button>
</form> -->

<form method="POST" action="user/logout?_method=DELETE">
  <button type="submit" name="Logout">Logout</button>
</form>
